<ul>
    {{#each message}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<div class="login-card">
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="username" /><br>
        <input type="password" name="password" placeholder="password" /><br>
        <input type="submit" value="LOGIN">
    </form>
    <form method="GET" action="/Signup">
        <input type="submit" value="SIGN UP">
    </form>
</div>