<ul>
    {{#each message}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<div class="login-card">
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="username" /><br>
        <input type="password" name="password" placeholder="password" /><br>
        <input type="submit" value="LOGIN">
    </form>
    <form method="GET" action="/Signup">
        <input type="submit" value="SIGN UP">
    </form>



<!--<h2>Login in with Twitter</h2>-->

<!--<p>Or you can <a href="/auth/twitter">use your twitter account to sign in</a></p>-->


    <!--<p>-->
        <!--<a href="/Signup">Sign up here</a>-->
    <!--</p>-->
</div>